<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= props.appName %></title>
  <% if (props.fontAwesome) { %><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <% } %><link rel="stylesheet" href="./stylesheets/app.css"><% if (props.foundationVersion === 'Foundation 5') { %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script><% } %>
</head>

<body>
  <div class="row">
    <div class="small-12 columns">
      <h1>Foundation + Browserify Project Generator</h1>

      <p>Improve your workflow by harnessing the power of <a href="http://browserify.org/" target="_blank">Browserify</a> with your <a href="http://foundation.zurb.com/" target="_blank">Foundation</a> projects!</p>

      <p>If you're not sure why you should be using this generator, or aren't familiar with some of the tools it offers, check out the <a href="https://github.com/dougmacklin/generator-foundation-browserify/wiki/Generator-Overview" target="_blank">Generator Overview</a>.</p>
    </div>
  </div>
  <script src="js/bundle.js"></script>
</body>

</html>