doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title <%= props.appName %>
    <% if (props.fontAwesome) { %>link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
    <% } %>link(rel='stylesheet', href='./stylesheets/app.css')<% if (props.foundationVersion === 'Foundation 5') { %>
    script(src='https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js')<% } %>

  body
    .row
      .small-12.columns
        h1 Foundation + Browserify Project Generator
        p
          | Improve your workflow by harnessing the power of 
          a(href='http://browserify.org/', target='_blank') Browserify
          |  with your 
          a(href='http://foundation.zurb.com/', target='_blank') Foundation
          |  projects!
        p
          | If you're not sure why you should be using this generator, or aren't familiar with some of the tools it offers, check out the 
          a(href='https://github.com/dougmacklin/generator-foundation-browserify#overview', target='_blank') Generator Overview
          | .

    script(src='js/bundle.js')